<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head"></head>

<body class="bg-body">
<header th:replace="fragments/header"></header>
<div id="modalOverlay"></div>
<!-- Here, we'll play with the content-->
<main class="container container-fluid justify-content-center" id="mainContainer"
      th:insert="home/pics::MainProductsFragment"
      style="min-height:100vh;margin-top: 12vh;">
</main>

<footer th:replace="fragments/footer"></footer>

</body>
</html>